*{
  margin: 0;
  padding: 0;
}

h1{
  text-align:center;
}

.form-wrapper{
  background: #eee;
  margin: 2rem;
  padding: 1rem;
}

.input-wrapper{
  margin: 8px 0px;
  display: flex;
  flex-direction: column;
}

.redactr-display{
  margin: 2rem;
  padding: 2rem;
  background: #eee;
  text-align: center;
}